<!-- main app container -->

<!-- <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            
        </div>
    </div> -->


<!-- <app-alert></app-alert> -->
<router-outlet></router-outlet>