<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div>
                <div class="">
                    <!-- <span class="glyphicon glyphicon-comment"></span> {{ msgData.room }} -->
                    <div >
                        <button type="button" class="btn btn-default btn-xs" (click)="logout()">
                            Logout
                        </button>

                        <button type="button" class="btn btn-default btn-xs" (click)="change_pass()">
                            Change PassWord
                        </button>
                    </div>
                </div>
                <div #scrollMe class="panel-body">
                    <ul class="chat">
                        <li *ngFor="let c of chats">
                          <div class="left" *ngIf="c.username===msgData.username; else rightchat">
                            <span class="chat-img clearfix">
                              <!-- <img src="http://placehold.it/50/55C1E7/fff&text=ME" alt="User Avatar" class="img-circle pull-left" /> -->
                              <div class="pull-left">
                                <strong class="primary-font">{{ c.username }}</strong>
                                <div>
                                  <small class="text-muted">
                                    <!-- <span class="glyphicon glyphicon-time"></span>{{ c.updated_at | date: 'medium' }} -->
                                  </small>
                                </div>
                              </div>
                            </span>

                            <div class="chat-body clearfix">
                              <p>{{ c.message }}</p>
                            </div>
                            
                          </div>
                          <ng-template #rightchat>
                            <div class="right clearfix">
                              <span class="chat-img pull-right">
                             <!-- //   <img src="http://placehold.it/50/FA6F57/fff&text=U" alt="User Avatar" class="img-circle" /> -->
                              </span>
                              <div class="chat-body clearfix">
                                  <div class="header">
                                      <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{ c.updated_at | date: 'medium' }}</small>
                                      <strong class="pull-right primary-font">{{ c.username }}</strong>
                                  </div>
                                  <p>{{ c.message }}</p>
                              </div>
                            </div>
                          </ng-template>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                  <form (ngSubmit)="sendMessage()" #msgForm="ngForm">
                    <div [innerHTML]="typeingContent" *ngIf="typeingContent"></div>
                    <div class="input-group">
                        <input type="hidden" [(ngModel)]="msgData.username" name="username" />
                        <input id="btn-input" type="text" [(ngModel)]="msgData.message" name="message" class="form-control input-sm" placeholder="Type your message here..." required="" (keydown)="onKeydown($event)"/>
                        <span class="input-group-btn">
                            <button  [disabled]="!msgForm.form.valid">
                                Send</button>
                        </span>
                    </div>
                  </form>
                </div>
            </div>

        </div>
    </div>
</div>
